/* Reset básico para eliminar margen y relleno predeterminados y establecer el box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del cuerpo */
body {
    font-family: 'Helvetica Neue', sans-serif; /* Fuente general del sitio */
    line-height: 1.5; /* Altura de línea para una mejor legibilidad */
    background-color: #1c1c1c; /* Color de fondo negro claro */
    color: #e0e0e0; /* Color del texto gris claro */
}

/* Estilos de cabecera y navegación */
header {
    background: #333; /* Color de fondo de la cabecera */
    color: #fafafa; /* Color del texto de la cabecera */
    padding: 1.2rem 0; /* Relleno de la cabecera */
    font-style: italic; /* Texto en cursiva */
}

nav ul {
    display: flex; /* Disposición en línea para los elementos de la lista */
    justify-content: space-around; /* Espacio igual entre los elementos */
    list-style: none; /* Sin viñetas en la lista */
}

nav ul li {
    margin: 0 1.5rem; /* Espaciado horizontal entre los elementos de la lista */
}

nav ul li a {
    color: #fafafa; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-size: 1.1rem; /* Tamaño de fuente de los enlaces */
}

/* Estilos de los elementos de la lista de redes sociales */
.social-list {
    width: 60%; /* Ancho de la lista */
    display: flex; /* Disposición en línea de los elementos */
    align-items: center; /* Alineación vertical de los elementos */
    justify-content: space-evenly; /* Espacio igual entre los elementos */
}

.social-item {
    line-height: 1.4; /* Altura de línea para los elementos */
    margin: 20px 0 50px 150px; /* Margen en los elementos (arriba, derecha, abajo, izquierda) */
}

.social-item:hover {
    opacity: 0.7; /* Opacidad al pasar el cursor sobre los elementos */
}

/* Estilos de las secciones */
section {
    padding: 2.5rem; /* Relleno dentro de las secciones */
    max-width: 1100px; /* Ancho máximo de las secciones */
    margin: 1rem auto; /* Margen en las secciones, centrado horizontalmente */
    background: #2c2c2c; /* Fondo negro claro para las secciones */
    color: #e0e0e0; /* Color del texto gris claro */
    font-style: italic; /* Texto en cursiva */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

#about, #contact {
    text-align: center; /* Alineación centrada del texto */
}

.project-grid {
    display: flex; /* Disposición en línea de los proyectos */
    flex-wrap: wrap; /* Permitir que los proyectos envuelvan a la siguiente línea */
    justify-content: space-between; /* Espacio igual entre los proyectos */
}

.project-item {
    background: #3c3c3c; /* Color de fondo de los proyectos */
    padding: 1.2rem; /* Relleno dentro de los proyectos */
    margin: 1.2rem; /* Margen alrededor de los proyectos */
    border-radius: 10px; /* Bordes redondeados de los proyectos */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra alrededor de los proyectos */
    width: 48%; /* Ancho de los proyectos */
}

/* Estilos de la sección "Sobre mí" */
.about-container {
    display: flex; /* Disposición en línea del contenido */
    align-items: center; /* Alineación vertical del contenido */
}

.about-description {
    margin-left: 25px; /* Espacio entre la imagen y el texto */
}

img {
    max-width: 220px; /* Ancho máximo de la imagen */
    border-radius: 15%; /* Bordes redondeados de la imagen */
}

img:hover {
    opacity: 0.6; /* Opacidad al pasar el cursor sobre la imagen */
}

/* Estilos del pie de página */
footer {
    text-align: center; /* Alineación centrada del texto */
    padding: 1.2rem 0; /* Relleno del pie de página */
    background: #333; /* Color de fondo del pie de página */
    color: #fafafa; /* Color del texto del pie de página */
    position: fixed; /* Pie de página fijo en la parte inferior */
    bottom: 0; /* Posición en la parte inferior */
    width: 100%; /* Ancho completo del pie de página */
}

/* Estilos de la sección de contactos */
#contact {
    text-align: center; /* Alineación centrada del texto */
    padding: 2.5rem; /* Relleno dentro de la sección */
    max-width: 1100px; /* Ancho máximo de la sección */
    margin: 2rem auto; /* Margen en la sección, centrado horizontalmente */
    background: #2c2c2c; /* Fondo negro claro para la sección */
    color: #e0e0e0; /* Color del texto gris claro */
    font-style: italic; /* Texto en cursiva */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos de los elementos de la lista de redes sociales */
.social-list {
    display: flex; /* Disposición en línea de los elementos */
    justify-content: center; /* Centrar los elementos horizontalmente */
    list-style: none; /* Sin viñetas en la lista */
    padding: 0; /* Sin relleno en la lista */
    margin: 1.5rem 0; /* Margen superior e inferior */
}

.social-item {
    margin: 0 1.5rem; /* Espaciado horizontal entre los elementos de la lista */
    line-height: 1.4; /* Altura de línea para los elementos */
    transition: transform 0.3s ease; /* Transición para el transform */
}

.social-item:hover {
    transform: scale(1.1); /* Escalado al pasar el cursor sobre los elementos */
}
